main{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

td{
  width: 5em;
  background: lightblue;
  height: 5em;
}

td.empty{
  background: lightblue;
}

td.forbidden{
  background: lightcoral;
}

td.end{
  background: lightgreen;
}

td.start{
  background: lightgoldenrodyellow;
}

td.done{
  background: darkslategray;
}

.options{
  display:grid;
  grid-columns: auto auto;
}

.restart{
  display: none;
}
