main{
  display: flex;
  justify-content: space-between;
}

td{
  width: 5em;
  background: lightblue;
  height: 5em;
}

td.empty{
  background: lightblue;
}

td.forbidden{
  background: lightcoral;
}

td.end{
  background: lightgreen;
}

td.start{
  background: lightgoldenrodyellow;
}
